<td>
  <div class="field">
    {{input
      type="text"
      value=link.tittel
      placeholder="Tittel"
      data-validate=tittelPath}}
  </div>
</td>
<td>
  <div class="field">
    {{input type="text"
      value=link.url
      placeholder="Nettadresse"
      data-validate=urlPath}}
  </div>
</td>
<td>
  {{ui-dropdown content=TYPE_CHOICES value=link.type data-validate=typePath}}
</td>
<td>
  <button class="basic ui icon button" {{action "removeLink" link}}>
    <i class="remove icon"></i>
  </button>
</td>
