<table class="ui table">
  <thead>
    <tr>
      <th>Tittel</th>
      <th>Nettadresse</th>
      <th>Type</th>
      <th>Fjern</th>
    </tr>
  </thead>
  <tbody>
    {{#each links as |link index|}}
      {{dnt-link-manager-list-item
        TYPE_CHOICES=TYPE_CHOICES
        link=link
        index=index
        validationRules=validationRules
        removeLink="removeLink"
        }}
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <th colspan="4">
        <button class="ui primary button" {{action "addLink"}}><i class="icon add"></i> Legg til lenke</button>
      </th>
    </tr>
  </tfoot>
</table>
