<section>
  <h3 class="ui header">Generelt</h3>
  <div class="field">
    <label>Navn {{#ui-help-text}}Navn brukt i DNT for hytta{{/ui-help-text}}</label>
    {{input type="text" value=model.navn placeholder="Navn" data-validate="navn"}}
  </div>
  <div class="field">
    <label>Byggeår {{#ui-help-text}}Det året hytta stod ferdig oppført{{/ui-help-text}}</label>
    {{input type="text" value=model.byggeår placeholder="Byggeår"}}
  </div>
  <div class="field">
    <label>
      Betjeningsgrad
      {{#ui-help-text}}
        <p>Velg hyttas hovedbetjeningsgrad</p>
        <div class="ui list">
          <div class="item">
            <div class="header">Ubetjent hytte</div>
            <p>Dette er små hytter (5-25 sengeplasser), samt ofte ei sikringsbu med ekstraplasser. Hyttene er utstyrt med senger og dyner (på enkelte kun tepper), kokemuligheter med kjeler, dekketøy og ved. Hyttene er åpne eller låst med DNTs standardnøkkel.</p>
          </div>
          <div class="item">
            <div class="header">Selvbetjent hytte</div>
            <p>Som ubetjent hytte, men med et rikholdig matvarelager med middagsretter, pålegg, knekkebrød og lignende, som kan kjøpes på hytta. Hyttene er som regel låst med DNTs standardnøkkel, og kan ha hyttevakt i sesongene.</p>
          </div>
        </div>
      {{/ui-help-text}}
    </label>
    {{ui-dropdown content=model.BETJENINGSGRAD_CHOICES value=model.betjeningsgrad placeholder="Velg betjeningsgrad"}}
  </div>
  <div class="field">
    <label>
      Hyttetype
      {{#ui-help-text}}
        <p class="help">Angi om hytta er DNT-eid, privat-eid med DNT-rabatt, eller privat</p>
      {{/ui-help-text}}
    </label>
    {{ui-dropdown content=model.HYTTETYPE_CHOICES value=model.privat.hytteeier optionValuePath="value" optionLabelPath="label" data-validate="hyttetype" placeholder="Velg hyttetype"}}
  </div>

</section>
