<button class="ui primary button">
  Legg til bilder...
</button>
{{dnt-photo-manager-uploader-input
  isUploading=isUploading
  percent=percent
  multiple=true
  onFilesChange="addFilesToQueue"}}
{{#if isUploading}}
  {{ui-progress percent=percent color="teal"}}
{{/if}}
{{yield}}
