<input type="hidden" hidden data-validate="{{data-validate}}">
{{#if value}}
  <i class="delete icon" {{action "clearValue"}}></i>
{{else}}
  <i class="search icon"></i>
{{/if}}
<input type="text" class="search">
<div class="default text">{{placeholder}}</div>
