<input type="hidden" data-validate="{{data-validate}}">
<div class="default text">{{placeholder}}</div>
<div class="menu">
  {{#each options as |option|}}
    <div class="item" data-value="{{option.value}}">{{option.label}}</div>
  {{/each}}
</div>
{{#if dropdown}}<i class="dropdown icon"></i>{{/if}}
