<div class="ui icon negative message">
  <i class="frown icon"></i>
  <div class="content">
    <div class="header">Feil ved henting av data</div>
    <p>Vi kunne dessverre ikke hente data nødvendig for å vise siden. En feilmelding er automatisk sendt til oss, og vi vil ta hånd om den så raskt som mulig.</p>
  </div>
</div>
