body {
  padding-top: 60px;
}

a {
  cursor: pointer;
}

.leaflet-container {
  height: 400px;
}

.ui.form .divider {
  margin: 3em 0;
}

a.header.item.logo {
  padding: 0.5em;
  background-color: #d82d20 !important;
  img {
    margin: 0 !important;
    width: 2.4em !important;
  }
}

.singleline {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Ember actions
[data-ember-action] {
  cursor: pointer;
}

/* Semantic UI */

.loading:not(.ui):not(.button) {
  position: relative;
  cursor: default;
  text-shadow: none!important;
  color: transparent!important;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: all 0s linear,opacity .1s ease;
  transition: all 0s linear,opacity .1s ease;

  &:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    margin: -0.64285714em 0em 0em -0.64285714em;
    width: 1.28571429em;
    height: 1.28571429em;
    -webkit-animation: button-spin 0.6s linear;
    animation: button-spin 0.6s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 500rem;
    border-color: #ffffff transparent transparent;
    border-style: solid;
    border-width: 0.2em;
    box-shadow: 0px 0px 0px 1px transparent;
  }
 }

.ui[class*="right labeled"].icon.button > .icon {
  right: .25em !important;
}

.ui.menu .item > .label:first-child {
  margin-left: 0;
}

.ui.circular.label > .icon {
  margin-right: 0;
}

// To use absolute position labels
table.ui.table td {
  position: relative;
}

// Keep border radius on right side if not action button is attached to the left side
.ui.action.input:not([class*="left action"]) > .dropdown {
  border-radius: 0.28571429rem 0px 0px 0.28571429rem;
}

.field {
  .help {
    font-size: 0.92857143em;
    margin-top: 0.28571429rem;
    opacity: .8;
  }
}

// Move fixed menu above loading dimmer which has z-index 1000
.ui.menu.fixed {
  z-index: 1001;
}

// For keeping padding when combining ui list and message (photo categorizing)
.ui.message {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

.ui.label > .icon:last-child {
  margin-right: 0;
}

.modal .actions > .left.floated.button {
  margin-left: 0;
}
/* Sortable */

.sortable-ghost {
  opacity: 0;
}
