body {
  padding-top: 60px;
}

a {
  cursor: pointer;
}

.leaflet-container {
  height: 400px;
}

.ui.form .divider {
  margin: 3em 0;
}

a.header.item.logo {
  padding: 0.5em;
  background-color: #d82d20 !important;
  img {
    margin: 0 !important;
    width: 2.4em !important;
  }
}

/* Semantic UI */

.ui[class*="right labeled"].icon.button > .icon {
  right: .25em !important;
}

.ui.circular.label > .icon {
  margin-right: 0;
}

// To use absolute position labels
table.ui.table td {
  position: relative;
}

// Keep border radius on right side if not action button is attached to the left side
.ui.action.input:not([class*="left action"]) > .dropdown {
  border-radius: 0.28571429rem 0px 0px 0.28571429rem;
}

.field {
  .help {
    font-size: 0.92857143em;
    margin-top: 0.28571429rem;
    opacity: .8;
  }
}

// Move fixed menu above loading dimmer which has z-index 1000
.ui.menu.fixed {
  z-index: 1001;
}

// For keeping padding when combining ui list and message (photo categorizing)
.ui.message {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}


/* Sortable */

.sortable-ghost {
  opacity: 0;
}
