<table class="ui table">
  <thead>
    <tr>
      <th>Navn</th>
      <th>Rediger</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |cabin|}}
      <tr>
        <td>
          {{#link-to 'cabins.edit' cabin.id}}{{cabin.navn}}{{/link-to}}
        </td>
        <td>
          {{#link-to 'cabins.edit' cabin.id}}Rediger{{/link-to}}
        </td>
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <th colspan="2"></th>
    </tr>
  </tfoot>
</table>
